body{
    
    margin: 0;
    padding: 0;
    background-image: url(Philosophy.png);
    background-size: cover;
    color: #382e1d;
    font-family: 'Georgia';
   
}
nav {
    top: 25px;
    position: relative;
    word-spacing: 5px;
    text-align: center;
    width: 90%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); /* Semi-transparent white border */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 15px 20px; /* Add padding to create space around the links */
    margin: 0 auto;
}

nav ul {
    list-style-type: none; /* Remove default list styles */
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline; /* Display list items horizontally */
}

nav ul li a {
    font-family: 'Roboto';
    color: white; /* White text color */
    text-decoration: none; /* Remove underline from links */
    padding: 10px 20px; /* Add padding to create space around the text */
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background on hover */
}

h1{
    color: white;
    position: relative;
    top: 80px;
    padding-left: 60px;
    font-size: 57px;
    font-weight: 570;
    letter-spacing: 2px;
}
h3{
    font-size: 15px;
    position: relative;
    top: 45px;
    padding-left: 60px;
    font-family: 'DM Sans', sans-serif; /* DM Sans font */
    font-weight: 800;
    color: #cd853f;
    letter-spacing: 4px;
}
.dot{
    position: relative;
    color: white;
    font-size: 30px;
    top: -4px;
}
p{
    color:azure;
    position: relative;
    top: 35px;
    font-family: 'DM Sans'; /* DM Sans font */
    padding-left: 60px;
    font-size: 14px;
    font-weight: 10;
    word-spacing: 2px;
}
.button-position {
    position: relative;
    top: 440px;
    padding-left: 53px;
    
}

.square-button {
    background-color: transparent;
    color: white;
    border: 1px solid lightgray; /* White border */
    padding: 15px 35px;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
    margin: 0 10px;
    border-radius: 4px;
   
}
.square-button:hover{
    background-color: lightgrey;
    color: rgb(101, 67, 33); 
}
h2{
    position: relative;
    top: 150px;
}
.logo{
    position: absolute;
    top: 50px;
    left: 90px;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.logo img {
    width: 100px; /* Adjust the width of the logo as needed */
    height: auto;
}











